/* *Paleta de colores
*Fuente personalizada: Títulos y texto
*Estilizar imagen
*uso de distintas unidades de medida
*Personalización */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Variables */
:root{
    --color-de-acento: #D81B60;
    --color-de-fondo: #eac6e1;
    --color-de-texto: #181515;
    --color-de-titulos: #d8549f;
    --color-de-subtitulos:#bb19aa; 
    --borde-redondeado: 5%;
}

body{
    background-color: var(--color-de-fondo);
    font-family: "DynaPuff", system-ui;
    background-color: #eeb8d7;
    color: var(--color-de-texto);
    padding: 2rem;

}
h1{
    color: var(--color-de-titulos);
    font-size: 3rem;
}

h2{
    color: var(--color-de-subtitulos);
    font-size: 2rem;
}
img {
    display: block;
    margin: 2rem;
    width: 50%; /* unidad rem */
    border-radius: 10%; /* imagen circular */
}
ol a{
  color: rgba(203, 4, 209, 0.882);

}